.form1
{
    position: relative;
}

.form1 h2
{
    margin-top: ;
    font-size: 30px;
    line-height: 50px;
    font-family: 'Spartan',sans-serif;
    color:#088178
}
.form1 input
{
    font-size: 1em;
    border: 0;
    display: block;
    text-align: center;
    margin: 20px auto;
    border: 1.5px solid #cdd4f9;
    padding: 14px 10px;
    border-radius: 24px;
}
.form1 h4
{
    font-family: 'Spartan',sans-serif;
    font-size: 12px;
}
.form1 label
{
    font-size: 22px;
}
.form1 button
{
    font-size: 1em;
    border: 0;
    display: block;
    text-align: center;
    margin: 20px auto;
    border: 1.5px solid #cdd4f9;
    padding: 14px 10px;
    border-radius: 24px;
}
.form1 button:hover
{
    background-color: #088178;
    color: #fff;
}
.square
{
    border-color: black;
    border-radius: 40px;
    background-size: cover;
    margin-left: 35% ;
    background-color: white;
    height: 600px;
    width: 400px;
}